// ####################################
//     BOWLS 
// ###################################


.bowls{
    background: url('../img/bcgbowls.jpg') center;
    background-size: cover;
    h1{
        font-family: 'futura';
        color: $purple;
        margin-top: 40px;
        font-size: 3rem;
              
    }
}



.gallery-1{
     display: flex;
     flex-wrap: wrap;
}

/* .gallery-2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

} */

.les2dubas{
    margin: 40px 0;
}

.formules{
    display: flex;
    margin-bottom: 30px;
   
}

.formules-content{
    background: #F0EA42;
    width: 588px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .more{
        margin: 0;
    }
    p{
        padding: 2rem;
    }
}

.crea{
    display: flex;
    flex-direction: row-reverse;
    img{
        width: 600px;
    }
    
}

.dyi-content{
    background: #8BF8F4;
    width: 588px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .more{
        margin: 0;
    }
    p{
        padding: 2rem;
    }
}


figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px;
    margin: 30px auto;

}

figcaption{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 320px;
}

.gauche{
    background: #F05875;
    color: #fff;
}

.milieu{
    background: #9ECB3A;
    color: #fff;
}

.droite{
    background: #D8AE00;
    color: #fff;
}

.btngall{
    display: flex;
    justify-content: center;
    margin: 40px;
}

/* .dyi{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.allofit{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basgauche{
    background: #8BF8F4;
    color: #fff;
}

.basdroite{
    background: #70A749;
    color: #fff;
} */

// ####################################
//     VALEURS 
// ###################################

.valeurs{
    background: url('../img/bgvaleurs.jpg') center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;

}

.item img{
    width: 100px;
    height: 111px;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}

.item p{
    width: 173px;
    margin: 3rem;
}

.background-content{
    background: rgba(255, 255, 255, 0.486);
    padding: 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 80vh;
  
}

// ####################################
//     RESTAUS 
// ###################################

.restos h1{
    color: $purple;
    font-size: 3rem;
}

.restoflex{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #00B2D3;
    padding: 2rem;

    
}



// ####################################
//     FRANCHISE 
// ###################################

.franchise{
    background: url('../img/bg-franchise.jpg') center;
    background-size: cover;
    min-height: 100vh;
    h1{
        color: $purple;
        font-size: 3rem;
        font-family: 'futura';
        padding-top:3rem;
    }

}



.bcg-middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.418);
    width: 80%;
    padding: 2rem;
    min-height: 80vh;
    p.a{
        font-size: 2rem;
        font-family: 'futura'
    }
    p.b{
        text-transform: uppercase;
        font-size: 3rem;
        font-family: 'futura';
    }
    p.c{
        width: 60%;
        font-family: 'futura'
    }
}

// ####################################
//     JOINS US 
// ###################################

.joinus{
    background: url('../img/bgjoinus.jpg') center no-repeat;
    background-size: cover;
    min-height: 100vh;

}

.card-body{
    background: #D8AE00;
    border: none;
}



// ####################################
//     BOWLICOMMUNAUTE
// ###################################

.communaute{
    background: #9D1D64;
    padding-top: 1rem;

        h1{
            color: #fff;
            font-size: 3rem;
          
        }
        h2{
            text-align: center;
            color: #fff;
        }
        p{
            text-align: center;
            color: #fff;
            font-size: 2rem;
        }
        h3{
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            font-size: 3rem;
            padding: 1rem;
        }
    }

.gallerie-insta{
    margin: 0 auto;
}

.insta{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width: 150px;
        height: 150px;        
    }
    ul{
        padding: 0;
    }
}

.tem1{
    display: flex;
    p{
        font-size: 1rem;
    }
}


.tem-content{
    background: rgba(0, 0, 0, 0.445);
    width: 600px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .more{
        margin: 0;
    }



}



ul li{
    list-style: none;
}

.insta{
    font-size: 0;
  }
  
  .btn-rs{
    font-size: 0;
  }
  
  .socialbtns ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
  }

 
  .news a{
    display: flex;
    justify-content: center;
    width: 30%;
  
  }

  .btn{
      text-align: center;
  }

  

