// ####################################
//     BOWLS 
// ###################################


.bowls{
    background: url('../img/bcgbowls.jpg') center;
    background-size: cover;
    h1{
        color: $purple;
        margin-top: 40px;
        @media (max-width: 425px){
            font-size: 1.5rem;
        }             
    }
}



.gallery-1{
     display: flex;
     flex-wrap: wrap;
     .soustitre{
         font-size: 1.7rem;
         padding: 0 0 1rem;
     }
     p{
         font-size: 1.2rem;
         padding: 1rem;
     }
}

.les2dubas{
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    img{
        width: 550px;
        @media (max-width: 425px){
            width: 300px;
        }
    }
}

.formules{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    @media (max-width: 1024px){
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h2{
        @media (max-width: 425px){
            text-align: center;
        }
    }

   
}

.formules-content{
    background: #F0EA42;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    @media (max-width: 425px){
        width: 300px;
    }
    .more{
        margin: 0;
    }
    p{
        padding: 2rem;
    }
}

.crea{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    @media (max-width: 1024px){
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    img{
        width: 550px;
        @media (max-width: 425px){
            width: 300px;
        }
    }
    
}

.dyi-content{
    background: #8BF8F4;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    @media (max-width: 425px){
        width: 300px;
    }
    .more{
        margin: 0;
    }
    p{
        padding: 2rem;
    }
}


figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px;
    margin: 30px auto;
}

figcaption{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 320px;
}

.gauche{
    background: #F05875;
    color: #fff;
}

.milieu{
    background: #9ECB3A;
    color: #fff;
}

.droite{
    background: #D8AE00;
    color: #fff;
}

.btngall{
    display: flex;
    justify-content: center;
    margin: 40px;
}

// ####################################
//     VALEURS 
// ###################################

.valeurs{
    background: url('../img/bgvaleurs.jpg') center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.item img{
    width: 100px;
    height: 111px;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 60vh;
}

.item p{
    width: 250px;
    margin: 3rem;
}

.background-content{
    background: rgba(255, 255, 255, 0.486);
    padding: 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 80vh;  
}

.labels{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

// ####################################
//     RESTAUS 
// ###################################

.restos h1{
    color: $purple;
    // font-size: 3rem;
}

.restoflex{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #00B2D3;
    padding: 2rem;    
}

.embed-wrapper{
    display: flex;
    justify-content: center;
    width: 800px;
    height: 600px;
    @media (max-width: 768px){
        width: 500px;
        height: 360px;
    }
    @media (max-width: 425px){
        width: 300px;
        height: 200px;
    }
}



// ####################################
//     FRANCHISE 
// ###################################

.franchise{
    background: url('../img/bg-franchise.jpg') center;
    background-size: cover;
    min-height: 100vh;
    h1{
        color:$purple;
        padding-top:3rem;
        background: #fff;
    }
}

.bcg-middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.418);
    width: 80%;
    padding: 2rem;
    min-height: 80vh;
    p.a{
        font-size: 2rem;
        font-family: 'futura';
        @media (max-width: 425px){
            font-size: 1.5rem;
            padding: 0.5rem;
            text-align: center;
        }
    }
    p.b{
        text-transform: uppercase;
        font-size: 3rem;
        font-family: 'futura';
        @media (max-width: 1024px){
            font-size: 2rem;
        }
        @media (max-width: 425px){
            font-size: 1.5rem;
            text-align: center;
        }
    }
    p.c{
        width: 80%;
        font-family: 'futura';
        @media (max-width: 425px){
            font-size: 1rem;
        }
    }
}

// ####################################
//     JOINS US 
// ###################################

.joinus{
    background: url('../img/bgjoinus.jpg') center no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.card{
    border: none;
}

.card-body{
    background: rgb(216, 173, 0);
    border: none;
    .btn{
        display: flex;
        justify-content: center;
    }
}



// ####################################
//     BOWLICOMMUNAUTE
// ###################################

.communaute{
    background: #9D1D64;
    padding-top: 1rem;

        h1{
            color: #fff;       
        }
        h2{
            text-align: center;
            color: #fff;
            padding: 2rem;
        }
        p{
            text-align: center;
            color: #fff;
            font-size: 2rem;
        }
        h3{
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            font-size: 3rem;
            padding: 1rem;
        }
    }

.gallerie-insta{
    margin: 0 auto;
}

.insta{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width: 150px;
        height: 150px;        
    }
    ul{
        padding: 0;
    }
}

.tem1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    p{
        font-size: 1.2rem;
    }
}

.tem-imag{
    width: 400px;
}


.tem-content{
    background: rgba(0, 0, 0, 0.445);
    width: 400px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .more{
        margin: 0;
    }
}

.stars{
    padding: 1rem;
}

.fa-star{
    color: #F0EA42;
    font-size: 2rem;
    padding: 0.25rem;
    @media (max-width: 375px){
        font-size:1.3rem;
    }

}

.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 40px 0 0;
}

.sousbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    p{
        font-size: 1rem;
    }
    .la1st{
        background-color: rgba(165, 50, 21, 0.671);
    }
    .la2nd{
        background-color: #D8AE00;
    }
}



  

