
.page-header{
  background: url('../img/zehero.jpg')center bottom;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: auto;
}

.brand img{
  width: 400px;
  height: 190px;
  // margin-top: 20px;
  // @media (max-width: 1024px){
  //   width: 200px;
  //   height: 200px;
  //   margin-top: 50px;
  // }
  @media (max-width: 425px){
    width: 310px;
    height: 150px;
    margin-top: 20px;
  }
}

.search-form input{ 
  width: 120px;
  margin-left: auto;
  font-size: 3rem;
  @media (min-width: 768px){
    width: 400px;
  }
  @media (max-width: 425px){
    width: 250px;
  }

}

.search-form button{
  margin: 0 30px 0 0;
  @media (max-width: 425px){
    margin: 0;
  }
}

.stellarnav .menu-toggle{
  padding: 20px;
}

.page-header-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-height: 95vh;
  padding: 20px 0 0;
}

.slogan{
  background: rgba(255, 255, 255, 0.74);
  padding: 1rem;
  margin-top: auto;
  width: 100%;
  text-align: center;
  p{
    font-size: 3rem;
    color: $purple;
    font-family: 'Pacifico';
    @media (max-width: 768px){
      font-size: 2rem;
    }
    @media (max-width: 425px){
      font-size: 1.3rem;
    }

  }
}


