
// .stellarnav.mobile.top{
//     position: relative;
//     width: 100%;
//     top: 0;
//     left: 0;
//     z-index: 9999;
// }



.stellarnav.mobile.left>ul {
  z-index: 9999;
}

.stellarnav .menu-toggle {
  font-size: 0;
  position: absolute;
  top: 20px;
  right: 20px;

  span.bars {
    margin-right: 0;

    span {
      width: 40px;
      height: 4px;
      margin-bottom: 8px;
      background-color: $light-gray;
    }
  }
}

.stellarnav .close-menu {
  font-size: 0;

  .icon-close {
    width: 30px;

    &::before,
    &::after {
      width: 30px;
    }
  }
}

.stellarnav ul {
  display: flex;
  justify-content: space-around;

  @media (min-width: 700px) {

    background-color: $purple;
    text-transform: uppercase;

    li>a {
      color: #fff;
      padding: 1rem;
      margin: 0 1rem;

      &:hover {
        color: lighten($red, 20%);
      }
    }

  }

}

.stellarnav.mobile.dark ul{
  background: $purple;
}