.search-form button {
    border: none;
    padding: 0.5rem 0.75rem;
    border-radius: 0 5px 5px 0;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    background: $purple;
  }
  
  ::placeholder{
    color: #fff;
  }
  
  
  
  .search-form button:hover {
    color: #fff;
    background-color: #c975c2;
  }
  
  .btn {
    text-align: center;
    display: inline-block;
    padding: 1em 2em;
    background-color:  $purple;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
  }
  
  .btn:hover {
    background-color: #fff;
    color:  $purple;
    box-shadow: inset 0 0 0 4px  $purple;
  }

  .btn-rs{
    font-size: 0;
  }

  .btn-primary{
    border: none;
  }
  