*{
  box-sizing: border-box;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

nav ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}


.hidden-text{
  font-size: 0;
}

.titre{
  display: flex;
  justify-content: space-around;
}

h1,h2, h3, p, a{
  font-family: 'futura';
}

h1{
  font-size: 3rem;
  @media (max-width: 425px){
    font-size: 2rem;
  }
}

p{
  font-size: 1.5rem;
}

.more {
  font-size: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: 0.3s;
  position: relative;
  margin-top: auto;
  background: #fff;
}

.more:hover {
  background-color: $purple;
  transform: rotate(180deg);
}

.more::before, .more::after {
  content: '';
  width: 20px;
  height: 2px;
  background-color: $purple;
  position: absolute;
  left: calc(50% - 10px);
  top: calc(50% - 1px);
  transition: 0.3s;
}

.more::before{
  transform: rotate(90deg);
}

.more:hover::before, .more:hover::after {
  background-color: #fff;
}

