




h1 {
    text-transform: uppercase;
    margin-top: 0;
    padding: 20px;;
    font-family: 'futura', 'Croissant One', cursive;
    text-align: center;
    
} 

p{
    font-family: 'futura';
}

a{
    font-family: 'futura';
}

