




h1 {
    text-transform: uppercase;
    margin-top: 0;
    padding: 20px;;
    font-family: 'futura', 'Croissant One', cursive;
    text-align: center;
    
} 

p{
    font-family: 'futura';
}

a{
    font-family: 'futura';
}



// body {
//   font-family: $font-default;
// }

// h1,
// h2,
// h3 {
//   font-family: $font-title;
// }

// a {
//   color: $link-color;
//   text-decoration: none;

//   &:hover {
//     text-decoration: underline;
//   }
// }