// Colors
$purple      : #9D1D64;
$red       : #f84242;
$dark-red  : #d43839;
$gray      : #cfcfcf;
$dark-gray : #a7a7a7;
$light-gray: #e5e5e5;

$link-color: $red;

// Typos
$font-default: 'futura','Trebuchet MS', sans-serif;
$font-title  : 'futura';     

// Layout
$max-width: 1200px;
$bp-medium: 768px;
$bp-large : 992px;
$spacer   : 15px;